@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
    font-family: 'Labrada', serif;
}

body{
    height: 100%;
    width: 100%;
    background-color: #002B5B;
}

.btn {
    padding: 0.3rem 1.2rem;
    font-size: 0.8rem;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
}

.btn-delete {
    color: white;
    font-weight: bolder;
    background-color: red;
}

.btn-add {
    margin: 0.5em 0;
    padding: 1em;
    color: white;
    font-weight: bolder;
    background-color: #002B5B;
}

.d-flex{
    display: flex;
}

.d-column{
    flex-direction: column;
}
.d-center{
    justify-content: center;
    align-items: center;
}

.inputbox{
    margin: 0.5em 0;
    padding: 0.5em;
    color: #002B5B;
    border-radius: 0.2em;
    border: 3px solid #002B5B;
}
.mb-1{
    margin-bottom: 0.5rem;
}

.mt-1{
    margin-top: 0.5rem;
}

.mt-2{
    margin-top: 1rem;
}

.strike{
    text-decoration: line-through;
}

.w-50{
    width: 50%;
}

.w-100{
    width: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #627d985e;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #627d98ce;
}